.crosswordList {
  margin: 0px 20px;
  display: flex;
  flex-direction: column;
}
.crosswordListItem {
  border: none;
  color: rgb(48, 48, 48);
  text-decoration: none;
}

.subHomePage {
  display: flex;
  width: 100vw;
  height: 500px;
  overflow: scroll;
}

.crosswordListWrapper {
  display: flex;
  flex-direction: column;
  overflow: scroll;
  width: 320px;
  font-size: 24px;
}

.homePage {
  margin-top: 220px;
}

.crosswordListItem {
  display: inline-block;
  background-color: var(--pine);
  padding: 20px;
  border-radius: 20px;
  margin: 10px;
}
.homepageButton {
  height: 80px;
  width: 300px;
  margin: 20px;
}
.heroSection {
  width: 400px;
  margin: 0 80px;
}

.heroText {
  color: var(--light);
  font-size: 18px;
}

@media screen and (max-width: 600px) {
  .homePage {
    margin-top: 20px !important;
    width: 100%;
  }
  .heroText {
    max-width: 350px;
  }
  .heroSection {
    width: min(100vw, 400px);
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    margin-inline: auto;
  }
  .bigTitle {
    width: 100vw;
    text-align: center;
  }
}
